@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --font-sans: 'Montserrat', system-ui, -apple-system, sans-serif;
  --font-heading: 'Montserrat', sans-serif;
  --animate-bounce-slow: bounce 3s infinite;
}
